html,body,.searchym{
  width: 100%;
  height: 100%;
}

.sea_header{
  width: 100%;
 input {
    width: 100%;
    height: .68rem;
    line-height: .68rem;
    border: none;
    border-radius: 6px;
    padding-left: 2.23rem;
    font-size: .28rem; }
   i {
    position: absolute;
    font-size: .3rem;
    color: #424242;
    left: 0;
    top: 50%;
    margin-top: -.15rem;
    margin-left: 1.81rem; }
  }
